.banner {
    width: 520px;
    height: 304px;
    margin: 1em auto;

    overflow: hidden;
    /* 溢出隐藏 */
    /* 到时候通过 JS 控制元素 margin-left 实现切换 */

    position: relative;
}

/* 图片容器：使得图片横向排开 */
.banner .imgs {
    width: 1560px;
    height: 304px;
}

.banner .imgs img {
    width: 520px;
    height: 304px;
}

/* 横向排开：浮动 */
.banner .imgs a {
    float: left;
}

.banner .left,
.banner .right {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 3em;
    text-align: center;
    font-family: Arial;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
}

.banner .left:hover,
.banner .right:hover {
    background: #fff;
    color: #f40;
}

.banner .left {
    left: 20px;
}

.banner .right {
    right: 20px;
}

.banner .modal {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    line-height: 40px;
    padding: 0 20px;

    /* 处理 padding 导致的变宽 */
    box-sizing: border-box;
}

.banner .modal .title {
    float: left;
    font-weight: bold;
}

.banner .modal .dots {
    float: right;
}

/* 圆 */
.banner .modal .dots li {
    width: 8px;
    height: 8px;
    background: #ccc;

    /* 横向排列 */
    display: inline-block;
    /* 或者通过 float: left 浮动实现，但是浮动注意要 clearfix */
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}

.banner .modal .dots li:hover {
    background: #369;
}